[alias]
  dc = diff --cached
  co = checkout
  st = status
  ci = commit
  aci = !ci --history 5
  br = branch
  s = switch
  cp = cherry-pick
  sdiff = difftool -y -t vsdiffmerge
  sync = pull --all --prune
  undo = "!f() { git reset --hard @{${1-1}}; }; f"
  addnew = !git add $(git ls-files -o --exclude-standard)
  new = ls-files -o --exclude-standard
  ld = log -p
  wt = worktree
  get = co origin/master --
  bdiff = !git-branch-diff main
  # recent = "!f() { git s $(git br --sort=committerdate | grep -v '*' | fzf; ); }; f"
  recent = branch --sort=committerdate
  untracked = ls-files --others --exclude-standard
  fp = push --force-with-lease

  # Log
  # pretty-format; https://git-scm.com/docs/pretty-formats
  # The basic colors: black, red, green, yellow, blue, magenta, cyan, white and default.
  # + after % inserts a line-feed before the expansion
  # - after % deletes all preceeding line-feed before the expansion
  l = log --oneline --graph --decorate --all
  ll =  log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset'
  lll = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset %+b'
  lg = log --color --graph --decorate --all --abbrev-commit --date=relative

  # Stash
  sl = stash list
  sll = stash-list
  slll = stash-list --full
  ss = stash save
  sa = "!sh -c 'git stash apply stash@{$1}' -"
  sd = "!sh -c 'git stash drop stash@{$1}' -"

[add.interactive]
  useBuiltin = false

[merge]
	tool = vimdiff
	conflictstyle = diff3

[diff]
  tool = vimdiff

[mergetool]
	prompt = false

[mergetool "vimdiff"]
  cmd = lvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[difftool]
  prompt = false

[core]
  editor = lvim
  pager = diff-so-fancy | less --tabs=4 -RFX
  whitespace = blank-at-eol,blank-at-eof

[apply]
  whitespace = fix

[pull]
  rebase = true

[branch "master"]
  mergeoptions = --no-ff

[user]
	name = Caspar Nettelbladt
	email = caspar.n@gmail.com

[includeIf "gitdir:~/repos/tibber/"]
  path = ~/.config/git/tibber

[interactive]
  diffFilter = diff-so-fancy --patch

[delta]
  navigate = true  # use n and N to move between diff sections

[credential "https://github.com"]
	helper =
	helper = !/home/tibber/.local/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/home/tibber/.local/bin/gh auth git-credential

[rerere]
	enabled = true
