.cfg
.vscode-server/
.ssh/
.cache/*
.yarnrc
.config/gh/state.yml
.config/gh/hosts.yml
tmp/*
.azure
.aws
.tmp/
.kube/
.docker
.weechat/*
.wget-hsts
.gnupg/*
.password-store/*
notes
repos
.tig_history
.npmrc
.nuget/
.xsession-errors
.bash_logout
.bash_history
.Xauthority
.config/1Password/
.config/BraveSoftware/
.config/Code - OSS/
.config/JetBrains/
.config/Slack/
.config/chromium/
.config/configstore/
.config/dconf/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/htop/
.config/microsoft-edge-dev/
.config/op/
.config/pipewire/
.config/pulse/
.config/vivaldi-snapshot/
.config/vivaldi/

.dmrc
.dotnet/
.java/
.lesshst
.local/
.mozilla/
.pki/
.viminfo
.vscode-oss/
.w3m/
.xsession-errors.old
Downloads/
.vim/plugged/
.vim/.netrwhist
.thunderbird/
.npm/
.templateengine/
.circleci
.config/Postman
.config/browsh
.config/mimeapps.list
.config/tmux/plugins
.config/nvim/autoload
Go/
~/aws/*
~/tibber*
.tmux/
Dev
.cargo/
.config/github-copilot
.config/asciinema
.config/lvim/plugin
.config/lvim/spell/en.utf-8.add.spl
.config/mutt/muttrc.local
.config/nvm
.cert/
.config/transmission/
.config/vlc/
.histfile
.ipython/
.node_repl_history
.password-store/
.ploomber/
.pyenv/
.pylint.d/
.python_history
.rediscli_history
.rustup/
.terraform.d/
Desktop/
Recordings/
airflow/
aws
playground/
python/
.yarn/
.config/AWSVPNClient
.config/get-proxy
tibber-notes
tmp/
tibber-logs/
DataGripProjects/
