[alias]
    l = log --oneline --graph --decorate --all
    dc = diff --cached
    co = checkout
    ci = commit
    st = status
    br = branch
    s = switch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    ll = log --graph --decorate --all --pretty=format:'%h -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    type = cat-file -t
    dump = cat-file -p
    sdiff = difftool -y -t vsdiffmerge
    browse = !explorer `git config remote.origin.url`
    sync = pull --all --prune
    undo = "!f() { git reset --hard @{${1-1}}; }; f"
    addnew = !git add $(git ls-files -o --exclude-standard)
    new = ls-files -o --exclude-standard
[diff]
    tool = d
[difftool]
    prompt = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vscode"]
    cmd = code --wait $MERGED
[mergetool "vsdiffmerge"]
    keepbackup = false
[mergetool]
	prompt = false
[core]
    # Removed tabbing for some reason. Dont know why it was added...
    #pager = ~/dotfiles/diff-so-fancy | sed 's/\\t/    /' | less -rx1,5
    #pager = ~/dotfiles/diff-so-fancy  | less -rx1,5
    editor = vim
    excludesfile = ~/.gitignore
    pager = ~/.scripts/diff-so-fancy | less --tabs=4 -RFX
    whitespace = blank-at-eol,blank-at-eof
[winUpdater]
    recentlySeenVersion = 2.21.0.windows.1
[apply]
    whitespace = fix
[pull]
    rebase = true
[branch "master"]
    mergeoptions = --no-ff
[user]
	name = Caspar Nettelbladt
	email = caspar.n@gmail.com

[includeIf "gitdir:~/repos/tibbercom/"]
  path = ~/.config/git/tibber
