.cfg
.vscode-server/
.ssh/
.cache/*
.yarnrc
.config/gh/state.yml
.config/gh/hosts.yml
tmp/*
.azure
.aws
.tmp/
.kube/
.docker
.weechat/*
.wget-hsts
.gnupg/*
.password-store/*
notes
repos
.tig_history
.npmrc
.nuget/
.xsession-errors
.bash_logout
.bash_history
.Xauthority
